<div class="p-10 flex flex-col w-screen h-full !gap-5 justify-between">
  <form
    (submit)="handleSubmit($event)"
    class="card p-fluid flex justify-center items-end p-fluid [&>*]:w-full [&>label]:block [&>label]:font-bold [&>label]:mb-2 gap-2"
  >
    <div class="w-8/12 flex-grow">
      <ng-container [tanstackField]="form" name="delivery" #delivery="field">
        <label class="block font-bold mb-2" [for]="delivery.api.name"
          >Delivery</label
        >
        <p-dropdown
          *ngIf="getDeliveries() | async as deliveries"
          [options]="deliveries"
          [loading]="deliveryQuery.isLoading()"
          dataKey="_id"
          optionLabel="description"
          optionValue="_id"
          placeholder="Select a delivery"
          (onChange)="delivery.api.handleChange($any($event).value)"
        />
      </ng-container>
    </div>

    <p-button
      label="Get Delivery Details"
      size="small"
      outlined="true"
      type="button"
      disabled="true"
    />
  </form>

  <div class="flex w-full justify-between">
    <div class="">
      @switch (deliveryQuery.status()) {
        @case ("pending") {
          Loading...
        }
        @case ("error") {
          Error: {{ deliveryQuery.error()?.message }}
        }
        @default {
          @for (delivery of deliveryQuery.data(); track delivery._id) {
            <ng-container
              *ngIf="delivery._id === this.form.getFieldValue('delivery')"
            >
              <div class="flex justify-evenly w-full">
                <div class="flex flex-col">
                  <h1 class="text-rose-600 font-bold">Package Details</h1>
                  <div class="text-gray-700">
                    <p>
                      {{ delivery.package.description }}
                    </p>
                    <p>Height: {{ delivery.package.height }}</p>
                    <p>Weight: {{ delivery.package.weight }}</p>
                    <p>Width: {{ delivery.package.width }}</p>
                    <p>Depth: {{ delivery.package.depth }}</p>
                  </div>

                  <h1 class="text-green-600 font-bold mt-5">
                    Delivery Details
                  </h1>
                  <div class="text-gray-700">
                    <p>
                      {{ delivery.description }}
                    </p>
                    <p>Status: {{ delivery.status.toUpperCase() }}</p>
                    <p>
                      Customer: {{ delivery.customer.firstName }}
                      {{ delivery.customer.lastName }}
                    </p>
                    <p>Delivery Address: {{ delivery.customer.address }}</p>
                  </div>
                </div>

                <div class="flex justify-evenly">
                  <google-map
                    [zoom]="zoom"
                    [center]="center"
                    [options]="options"
                  >
                    <map-marker
                      *ngFor="
                        let marker of markers | keyvalue: keepOriginalOrder
                      "
                      [position]="marker.value.markerPosition"
                      [options]="marker.value.markerOptions"
                    />
                  </google-map>
                </div>
              </div>
            </ng-container>
          }
        }
      }
      <div>
        @if (deliveryQuery.isFetching()) {
          Deliveries loading...
        }
      </div>
    </div>
  </div>
</div>
