<form
  (submit)="handleSubmit($event)"
  class="card p-fluid p-10 flex flex-col justify-center items-center p-fluid [&>*]:w-full [&>label]:block [&>label]:font-bold [&>label]:mb-2 gap-2"
>
  <div class="flex-auto">
    <ng-container [tanstackField]="form" name="weight" #weight="field">
      <label class="block font-bold mb-2" [for]="weight.api.name">weight</label>
      <input
        pInputText
        [id]="weight.api.name"
        [name]="weight.api.name"
        [value]="weight.api.state.value"
        (blur)="weight.api.handleBlur()"
        (input)="weight.api.handleChange($any($event).target.value)"
      />
    </ng-container>
  </div>

  <div class="flex-auto">
    <ng-container [tanstackField]="form" name="width" #width="field">
      <label class="block font-bold mb-2" [for]="width.api.name">width</label>
      <input
        pInputText
        [id]="width.api.name"
        [name]="width.api.name"
        [value]="width.api.state.value"
        (blur)="width.api.handleBlur()"
        (input)="width.api.handleChange($any($event).target.value)"
      />
    </ng-container>
  </div>

  <div class="flex-auto">
    <ng-container [tanstackField]="form" name="height" #height="field">
      <label class="block font-bold mb-2" [for]="height.api.name">height</label>
      <input
        pInputText
        [id]="height.api.name"
        [name]="height.api.name"
        [value]="height.api.state.value"
        (blur)="height.api.handleBlur()"
        (input)="height.api.handleChange($any($event).target.value)"
      />
    </ng-container>
  </div>

  <div class="flex-auto">
    <ng-container [tanstackField]="form" name="depth" #depth="field">
      <label class="block font-bold mb-2" [for]="depth.api.name">depth</label>
      <input
        pInputText
        [id]="depth.api.name"
        [name]="depth.api.name"
        [value]="depth.api.state.value"
        (blur)="depth.api.handleBlur()"
        (input)="depth.api.handleChange($any($event).target.value)"
      />
    </ng-container>
  </div>

  <div class="flex-auto">
    <ng-container
      [tanstackField]="form"
      name="from_address"
      #from_address="field"
    >
      <label class="block font-bold mb-2" [for]="from_address.api.name"
        >from_address</label
      >
      <input
        pInputText
        [id]="from_address.api.name"
        [name]="from_address.api.name"
        [value]="from_address.api.state.value"
        (blur)="from_address.api.handleBlur()"
        (input)="from_address.api.handleChange($any($event).target.value)"
      />
    </ng-container>
  </div>

  <div class="flex-auto">
    <ng-container
      [tanstackField]="form"
      name="from_location"
      #from_location="field"
    >
      <label class="block font-bold mb-2" [for]="from_location.api.name"
        >from_location</label
      >
      <input
        pInputText
        [id]="from_location.api.name"
        [name]="from_location.api.name"
        [value]="from_location.api.state.value"
        (blur)="from_location.api.handleBlur()"
        (input)="from_location.api.handleChange($any($event).target.value)"
      />
    </ng-container>
  </div>

  <div class="flex-auto">
    <ng-container [tanstackField]="form" name="to_address" #to_address="field">
      <label class="block font-bold mb-2" [for]="to_address.api.name"
        >to_address</label
      >
      <input
        pInputText
        [id]="to_address.api.name"
        [name]="to_address.api.name"
        [value]="to_address.api.state.value"
        (blur)="to_address.api.handleBlur()"
        (input)="to_address.api.handleChange($any($event).target.value)"
      />
    </ng-container>
  </div>

  <div class="flex-auto">
    <ng-container
      [tanstackField]="form"
      name="to_location"
      #to_location="field"
    >
      <label class="block font-bold mb-2" [for]="to_location.api.name"
        >to_location</label
      >
      <input
        pInputText
        [id]="to_location.api.name"
        [name]="to_location.api.name"
        [value]="to_location.api.state.value"
        (blur)="to_location.api.handleBlur()"
        (input)="to_location.api.handleChange($any($event).target.value)"
      />
    </ng-container>
  </div>

  <div class="flex-auto">
    <ng-container [tanstackField]="form" name="from_user" #from_user="field">
      <label class="block font-bold mb-2" [for]="from_user.api.name"
        >from_user</label
      >
      <p-dropdown
        *ngIf="getUsers() | async as users"
        [options]="users"
        [loading]="userQuery.isLoading()"
        optionLabel="email"
        optionValue="_id"
        placeholder="Select a sender"
        (onChange)="from_user.api.handleChange($any($event).value)"
      />
    </ng-container>
  </div>

  <div class="flex-auto">
    <ng-container [tanstackField]="form" name="to_user" #to_user="field">
      <label class="block font-bold mb-2" [for]="to_user.api.name"
        >to_user</label
      >
      <p-dropdown
        *ngIf="getUsers() | async as users"
        [options]="users"
        [loading]="userQuery.isLoading()"
        dataKey="_id"
        optionLabel="email"
        optionValue="_id"
        placeholder="Select a recipient"
        (onChange)="to_user.api.handleChange($any($event).value)"
      />
    </ng-container>
  </div>

  <p-button
    label="Submit"
    styleClass="mt-2"
    type="submit"
    [loading]="isSubmitting()"
  />
</form>
